{#
| Variable           | Type      | Description                                                   |
|---------------------|-----------|----------------------------------------------------------------|
| instance.fields     | object    | الحقول المباشرة المربوطة بلوحة تحكم التطوير                    |
#}

{# 1. جلب العنوان المخصص الجديد أو استخدام عنوان افتراضي #}
{% set final_title = instance.fields.custom_section_title.value|default('منتجات متحركة مخصصة') %}

{# 2. جلب قيم المصدر والعدد من الحقول الشغالة عندك #}
{% set slider_source = instance.fields.mntgat_mthrkt_mkhsst.value|default('latest') %}
{% set limit_value = instance.fields.products_limit.value|default(8) %}

<section id="custom-best-offers-slider" class="s-block s-block--best-offers container overflow-hidden mt-6 sm:mt-8">
    
    {# استدعاء المكون وتمرير الحقول التي يتحكم بها التاجر مباشرة #}
    <salla-products-slider
        source="{{ slider_source }}"
        limit="{{ limit_value }}"
        autoplay
        block-title="{{ final_title }}"
        block-subTitle=""
        slider-id="slider-custom-{{ instance.id|default('1') }}">
    </salla-products-slider>

</section>