{#
| Variable           | Type      | Description                                                   |
|---------------------|-----------|----------------------------------------------------------------|
| instance.fields     | object    | يحتوي على الحقول المباشرة المعرفة للمكون                     |
#}

{# 1. التقاط عنوان القسم من المعرّف الجديد #}
{% set block_title = instance.fields.custom_section_title.value|default('منتجات متحركة مخصصة') %}

{# 2. جلب قيم المصدر والعدد الشغالة عندك أصلاً #}
{% set slider_source = instance.fields.mntgat_mthrkt_mkhsst.value|default('latest') %}
{% set limit_value = instance.fields.products_limit.value|default(4) %}

<section id="custom-products-slider-block" class="s-block s-block--best-offers container overflow-hidden mt-6 sm:mt-8">
    
    <salla-products-slider
        source="{{ slider_source }}"
        limit="{{ limit_value }}"
        autoplay
        block-title="{{ block_title }}"
        block-subTitle=""
        slider-id="slider-custom-{{ instance.id|default('1') }}">
    </salla-products-slider> 

</section>