{#
| Variable            | Type      | Description                                                    |
|---------------------|-----------|----------------------------------------------------------------|
| instance.settings   | object    | يحتوي على الإعدادات التي يتم اختيارها من لوحة التحكم          |
#}

<section class="s-block s-block--latest-products container mt-6 sm:mt-8">
    
    {# 1. عنوان القسم وجلبه من الحقل المخصص (إذا قمت بإضافته) أو وضع عنوان افتراضي #}
    <div class="s-block__title mb-6">
        <h2>{{ instance.settings.title|default('منتجات متحركة مخصصة') }}</h2>
    </div>

    {# 2. استدعاء مكون سلة الرسمي لربطه بالمعرف المميز الخاص بك ديناميكياً #}
    {# نمرر له الخصائص لكي يقرأ المنتجات التي حددتها يدوياً في لوحة التحكم #}
    <salla-products-list 
        source="selected" 
        source-value="{{ instance.settings.mntgat_mthrkt_mkhsst }}">
    </salla-products-list>

</section>